<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="style.css">  
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> 
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"> 
</head>    
<body>    
    <h1><b>Login Page</b></h1><br>    
    <div class="login">    
    <form id="login" method="post" action="/login">   
        <br><h5 style="color: green"> {{ message }} </h5> 
        <br><h5 style="color: green"> {{ infos }} </h5> 
        <label><b>Username/Email :  
        </b>    
        </label> <br>   
        <input type="text" name="username" id="Uname" placeholder="Username/Email" required="required">    
        <br><br>    
        <label><b>Password :    
        </b> 
   
        </label>   
        <input type="Password" name="password" id="Pass" placeholder="Password" required="required">   
        <br><h5 style="color: red"> {{ info }} </h5><br>    
        <input type="submit" name="log" id="log" value ="Log In Here" >       
        <br> 
        <h5>Forgot <a href="/fg">Password</a> ?</h5>
         <h5> or  <a href="/enteremail"> Verify account</a> here.</h5>    
        <h5>Doesn't have an account <a href="/signup">Sign up</a> here.</h5> 
    </form>     
</div>    
</body>    
</html>