<!DOCTYPE html>    
<html>    
<head>    
    <title>Reset  Password</title>    
    <link rel="stylesheet" type="text/css" href="style.css">  
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> 
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"> 
</head>    
<body>    
    <h1><b>Reset Password</b></h1><br>    
    <div class="login">    
    <form id="login" method="post" action="/verifyotp/{{ email }}">   
        <h5 style="color: green;"> otp sent to  {{ email }} </h5>
        <label><b>Enter otp :  
        </b>    
        </label>    
        <input type="text"  name="otp" id="Uname" placeholder="otp" required="required"><br>
        <h5 style="color: red;"> {{ infow }} </h5>
        <label><b>Enter password :  
        </b>    
        </label>  
        <input type="password"  name="password" id="Uname" placeholder="password" required="required"><br> <br>  
        <label><b>Enter password again :  
        </b>    
        </label>   
        <input type="text"  name="again_password" id="Uname" placeholder="" required="required"><br> 
        <h5 style="color: red;"> {{ info }} </h5>  
        <input type="submit" name="log" id="log" value ="Reset password" >       
        <br> 
 
    </form>     
</div>    
</body>    
</html>